---
import { Icon } from "astro-icon/components"

Icon

---
<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 ease-in-out backdrop-blur-md ">
  <div class="max-w-[75rem] mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Logo  -->
    <div class="logo ">
      <div class="flex justify-between items-center py-4">
      <Icon name="lucide:air-vent" class="h-8 w-8 animate-pulse-subtle" />
      <span class="text-xl font-display font-semibold text-foreground pl-5">Aire Oski </span>
    </div>
    <!-- Barra de Navegacion -->
    <nav class="hidden md:flex items-center space-x-8">
        <a href="#Hero" class="text-sm font-medium text-foreground/80 hover:text-ac-blue transition-colors">Inicio</a>
        <a href="#Services" class="text-sm font-medium text-foreground/80 hover:text-ac-blue transition-colors">Servicios</a>
        <a href="#About" class="text-sm font-medium text-foreground/80 hover:text-ac-blue transition-colors">Sobre Nosotros</a>
        <a href="#contacto" class="text-sm font-medium text-foreground/80 hover:text-ac-blue transition-colors">Contacto</a>
        <!--Boton -->
        <a href="#solicitar-servicio" class="cta">Solicitar Servicio</a>
    </nav>
    </div>
  </div>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: black; /* Color del texto */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    position: relative;
    transition: transform 0.3s ease;
  }

  a:hover {
    transform: translateY(1px);
  }

  .cta {
    background-color: #007bff; /* Color del botón "Solicitar Servicio" */
    color: white;
  }
  
  header {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    
  }

  @keyframes nav-shadown {
    0% {
      background-color: transparent;
    }
    to {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      backdrop-filter: blur(8px);
      
    }
  }
</style>

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      const targetId = this.getAttribute('href');
      const targetElement = document.querySelector(targetId);
      
      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: 'smooth',
          block: 'start'
        });
      }
    });
  });
</script>