---

import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="min-h-screen">
		<Navbar>
		<slot />
		</Navbar>
    <Hero>
      <slot />
    </Hero>
    <Services>
      <slot />
    </Services>
    <About>
      <slot />
    </About>
		<Footer>
			<slot />
		</Footer>

	</body>
</html>

<style>
	html,
	body {
		margin: auto;
		width: 100%;
		height: 100%;
    justify-content: center;
	}
</style>
